.choices {
    display: flex;
}

.options {
    margin: 2em;
    padding: 2em;
    border: 2px dotted lightblue;
    border-radius: .5em;
    box-shadow: 10px 5px 10px 1px gray;
}

.order {
    margin-left: 2em;
}

#orderbutton {
    background-color: red;
    color: white;
    padding: 1em;
}

.customOrders {
    margin-left: 2em;
}